.arrow {
    color: white;
}

.back-link {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}

.back-link:hover {
    color: #45a049;
}

.container {
    background-color: #1D1C1D;
    border-radius: 8px;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 70%;
}

.form-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 8px 0;
    padding: 15px 20px;
}

.form-button:hover {
    background-color: #45a049;
}

.form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 10px;
    width: 100%;
}

.form-label {
    color: #fff;
    font-size: 18px;
}

.link {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.link:hover {
    color: #45a049;
}

.todo-title {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}
