
   body {
     display: flex;
     flex-direction: column;
     height: 100vh;
     margin: 0;
     background-color: #1D1C1D;

   }

.App {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 40px);
}

.SideMenu {
  width: 200px;
  background-color: #1D1C1D;
}

.MainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 20px;
}

.Content {
  flex-grow: 1;
  padding: 20px;
}
